@model WebRole1.Models.Login

@{
	ViewBag.Title = "Calculation";
}

<h2>Calculation</h2>


@section Logout{

	@using (Html.BeginForm("Logout", "Register"))
	{
		<input type="text" name="Username" value="@Model.UserName" hidden="hidden" />
		<input type="submit" value="Logout" />
	}
}


<div class="form-group">
	<label class="col-sm-2 control-label">
		Enter Number1:
	</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="num1" />
	</div>
</div>
<br />
<br />
<br />
<br />

<div class="form-group">
	<label class="col-sm-2 control-label">
		Enter Number1:
	</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="num2" />
	</div>
</div>
<br />
<br />
<br />
<br />
<div class="form-group">
	<label class="col-sm-2 control-label">
		Result:
	</label>
	<div class="col-sm-10">
		<span id="result">
		</span>
	</div>
</div>
<br />
<br />
<br />
<br />

<div class="form-group">

	<div class="col-sm-3">
		<input type="button" class="form-control" id="add" value="Add" onclick="add();" />
	</div>
	<div class="col-sm-3">
		<input type="button" class="form-control" id="substract" value="Substract" />
	</div>
	<div class="col-sm-3">
		<input type="button" class="form-control" id="mutiply" value="multiply" />
	</div>
	<div class="col-sm-3">
		<input type="button" class="form-control" id="divide" value="divide" />
	</div>
</div>

<script>

	var url = "http://localhost:16516/api/values/";

	var add = function () {
		var num1 = $('#num1')[0].value;
		var num2 = $('#num2')[0].value;
		var fullurl = url + 'add' + '?num1=' + num1 + '&num2=' + num2;
		$.post(fullurl)
			.done(function (result){
				//alert(result);
				$('#result').html(result);
			});
	};
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>



